*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: radial-gradient(blue, black);
    height: 100vh;
    width: 100%;
}
.contenedor {
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90%;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}
.agregar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.agregar input {
    width: 80%;
    padding: 5px;
    margin-right: 2%;
    border-radius: 7px;
}
.agregar button{
    width: 20%;
    padding: 5px;
    background-image: radial-gradient(blue, rgb(0, 89, 119));
    color: whitesmoke;
    border: 0;
    border-radius: 5px;
}
.tareas{
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}
table {
    margin: auto;
    width: 100%;
}
th:nth-child(1){
    width: 80%;
}
th:nth-child(2){
    width: 20%;
}
table button {
    width: 30%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    color: whitesmoke;
}
.table-info th:nth-child(1){
    width: 10%;
}
.table-info th:nth-child(2){
    width: 90%;
}
.tareaFinalizada {
    color: rgb(3, 218, 3);
}
.eliminar {
    background-color: red;
}
.editar{
    background-color: rgb(219, 219, 0);
}
.finalizado {
    background-color: rgb(0, 202, 17);
}
.completas p {
    text-align: center;
    font-weight: 700;
}
