/* Reseteo css con "npm install normalize.css"*/
@import 'normalize.css';

/* Ahora si sigo con mis estilos */
html {
  scroll-behavior: smooth;
  height: 100vh;
  color: rgb(240, 89, 65);
  background: radial-gradient(rgb(190, 49, 68), rgb(135, 35, 65), rgb(34, 9, 44));
}

input {
  background: transparent;
  color: #FFF;
  border: 0.1em solid rgba(240, 89, 65, 0.65);
  padding: 1em;
  margin-right: 1em;
}

.contenedor {
  background: radial-gradient(rgb(135, 35, 65), rgb(34, 9, 44));
  box-shadow: 0.8em 0.8em 1.6em rgba(0, 0, 0, 0.70);
  border-top-right-radius: 8%;
  border-bottom-left-radius: 8%;
  padding: 1.5em;
  border: 0.1em solid rgba(240, 89, 65, 0.65);
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 60vh;
}

.contenedor-tareas {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  border-right: 0.1em solid rgba(240, 89, 65, 0.65);
  justify-content: start;
}

.contenedor-completadas {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.contenedor-tareas ul {
  list-style: circle;
}

.add,
.done,
.edit,
.delete,
.save {
  background-color: transparent;
  border-color: #F05941;
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.30);
  vertical-align: sub;
}

.add:hover,
.done:hover,
.edit:hover,
.delete:hover,
.save:hover {
  background: rgba(0, 0, 0, 0.40);
}

.agregar {
  display: flex;
  justify-content: center;
}

.contenedor-botones {
  display: inline-flex;
  justify-content: right;
  width: 25%;
}

.tareas {
  display: inline-block;
  flex-direction: row;
  width: 100%;
}

.lista-tarea {
  display: inline-block;
  width: 70%;
}

.contenedor-botones button {
  display: inline-block;
}